.btn-default {
  display: inline-flex;
  vertical-align: middle;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  font-family: inherit;
  text-align: center;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  height: 42px;
  padding: 5px 10px;
  gap: 5px;
  background-color: #4c6586;
  color: #fff;
  border: 1px solid #4c6586;
}
.btn-default + .btn-default {
  margin-left: 5px;
}
.btn-default:hover {
  text-decoration: none;
  background-color: #3a4c65;
  color: #fff;
  border: 1px solid #3a4c65;
}
.btn-default:focus-visible {
  position: relative;
  outline: 2px solid white;
  outline-offset: 4px;
  border-radius: 10px;
}
.btn-default:focus-visible::after {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid white;
  outline: 3px solid black;
  border-radius: 10px;
}
.btn-default:active, .btn-default.engaged {
  outline: none;
}
.btn-default:active {
  transform: scale(0.95);
  background-color: #273445;
  color: #fff;
  border: 1px solid #273445;
}
.btn-default[disabled],
.btn-default fieldset[disabled] {
  background-color: #5e6369;
  border-color: #5e6369;
  color: rgba(255, 255, 255, 0.9);
  cursor: not-allowed;
}
.btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active,
.btn-default fieldset[disabled],
.btn-default fieldset[disabled]:hover,
.btn-default fieldset[disabled]:focus,
.btn-default fieldset[disabled]:active,
.btn-default fieldset[disabled].active {
  background-color: #5e6369;
  border-color: #595e64;
  color: rgba(255, 255, 255, 0.9);
  transform: none;
}
.btn-default.engaged {
  border-width: 3px;
  background-color: white;
  border-color: #4c6586;
  color: #000;
}

.btn-primary {
  display: inline-flex;
  vertical-align: middle;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  font-family: inherit;
  text-align: center;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  height: 42px;
  padding: 5px 10px;
  gap: 5px;
  background-color: lightgreen;
  color: #000;
  border: 1px solid lightgreen;
}
.btn-primary + .btn-primary {
  margin-left: 5px;
}
.btn-primary:hover {
  text-decoration: none;
  background-color: #bcf5bc;
  color: #000;
  border: 1px solid #bcf5bc;
}
.btn-primary:focus-visible {
  position: relative;
  outline: 2px solid white;
  outline-offset: 4px;
  border-radius: 10px;
}
.btn-primary:focus-visible::after {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid white;
  outline: 3px solid black;
  border-radius: 10px;
}
.btn-primary:active, .btn-primary.engaged {
  outline: none;
}
.btn-primary:active {
  transform: scale(0.95);
  background-color: #e8fce8;
  color: #000;
  border: 1px solid #e8fce8;
}
.btn-primary[disabled],
.btn-primary fieldset[disabled] {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.9);
  cursor: not-allowed;
}
.btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
.btn-primary fieldset[disabled],
.btn-primary fieldset[disabled]:hover,
.btn-primary fieldset[disabled]:focus,
.btn-primary fieldset[disabled]:active,
.btn-primary fieldset[disabled].active {
  background-color: #d9d9d9;
  border-color: #e5ffe5;
  color: rgba(0, 0, 0, 0.9);
  transform: none;
}
.btn-primary.engaged {
  border-width: 3px;
  background-color: white;
  border-color: lightgreen;
  color: #000;
}

.btn {
  display: inline-flex;
  vertical-align: middle;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  font-family: inherit;
  text-align: center;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
.btn + .btn {
  margin-left: 5px;
}

.btn-lg {
  height: 80px;
  padding: 20px 30px;
  gap: 5px;
}

.btn-secondary {
  background-color: #7e2a58;
  color: #fff;
  border: 1px solid #7e2a58;
}
.btn-secondary:hover {
  text-decoration: none;
  background-color: #581d3d;
  color: #fff;
  border: 1px solid #581d3d;
}
.btn-secondary:focus-visible {
  position: relative;
  outline: 2px solid white;
  outline-offset: 4px;
  border-radius: 10px;
}
.btn-secondary:focus-visible::after {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid white;
  outline: 3px solid black;
  border-radius: 10px;
}
.btn-secondary:active, .btn-secondary.engaged {
  outline: none;
}
.btn-secondary:active {
  transform: scale(0.95);
  background-color: #321123;
  color: #fff;
  border: 1px solid #321123;
}
.btn-secondary[disabled],
.btn-secondary fieldset[disabled] {
  background-color: #584851;
  border-color: #584851;
  color: rgba(255, 255, 255, 0.9);
  cursor: not-allowed;
}
.btn-secondary[disabled], .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled]:active, .btn-secondary[disabled].active,
.btn-secondary fieldset[disabled],
.btn-secondary fieldset[disabled]:hover,
.btn-secondary fieldset[disabled]:focus,
.btn-secondary fieldset[disabled]:active,
.btn-secondary fieldset[disabled].active {
  background-color: #584851;
  border-color: #53444c;
  color: rgba(255, 255, 255, 0.9);
  transform: none;
}
.btn-secondary.engaged {
  border-width: 3px;
  background-color: white;
  border-color: #7e2a58;
  color: #000;
}

.btn-group button, .btn-group button:focus-visible, .btn-group button:focus-visible::after {
  border-radius: 0;
}
.btn-group button + button {
  margin-left: 0 !important;
}
.btn-group button:first-child, .btn-group button:first-child:focus-visible, .btn-group button:first-child:focus-visible::after {
  border-start-start-radius: 10px;
  border-end-start-radius: 10px;
}
.btn-group button:last-child, .btn-group button:last-child:focus-visible, .btn-group button:last-child:focus-visible::after {
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=example.css.map */
