// You can modify the basic settings on import
@use "flex-buttons" as btn with (
    $button-color: #4c6586,
    $button-text-color: #fff,
    $debug-mode: true
);

.btn-default {
    @include btn.make-button();
}

// Or modify the variables when including the mixin
$btn-primary-height: 61px;
$btn-primary-color: lightgreen;
$btn-primary-border-radius: 10px;
.btn-primary {
    @include btn.make-button($button-color: $btn-primary-color, $button-text-color: #000, $border-radius: $btn-primary-border-radius, $input-field-height: $btn-primary-height);
}

.btn-group {
    @include btn.make-button-group($border-radius: 10px);
}

// Building utility classes is also supported
.btn { @include btn.make-button($set-basics: true, $set-size: false, $set-design: false); }
.btn-lg { @include btn.make-button($set-basics: false, $set-size: true, $set-design: false, $input-field-height: 80px, $padding-small-x: 30px, $padding-small-y: 20px); }
.btn-secondary { @include btn.make-button($set-basics: false, $set-size: false, $set-design: true, $button-color: #7e2a58);}
// then use class="btn btn-lg btn-secondary" in html

// Fullwidth Button
.btn-menu {
    @include btn.make-button(
        $set-full-width: true,
        $input-field-height: 66px,
        $button-color: lightgray,
        $button-text-color: black,
        $border-color: gray,
        $hover_border-color: gray,
        $active_border-color: gray,
        $border-width: 0 0 1px 0,
        $hover_border-width: 0 0 1px 0,
        $active_border-width: 0 0 1px 0,
        $active_transform: null,
        $space-between-btns: null
        );
        &:last-child {
            border-bottom: none;
        }
}

.btn-board {
    @include btn.make-button-board(
        $btn-class-name: ".btn-primary",
        $board-height: $btn-primary-height,
        $board-bg: $btn-primary-color,
        $border-radius: $btn-primary-border-radius);
}



// Other stylecode, unrelated to the buttons
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
.limited-width {
    max-width: 500px;
}